body 
{
    
    text-align: left;
    font-family: "Arial";
    font-size: 2rem;
}


#cabecera
{
    display: flex;
    align-items: center;
    
    background-color: darkblue;
    text-align: center;
    
}
#cabecera h4
{
    color: blanchedalmond;
    background-color: darkblue;
    padding-left: 30px;
}

#cabecera img {
    width: 50px;
}

#footer h2
{
    color:darkblue;
}


#footer img
{
    width: 500px;
    border: 2px;
    border-radius: 2px;
    border-style: dashed;
    border-color: red;
    
    
}